.list-left{
    float: left;
    background-color: #fff;
    width:50%
}
.list-right{
    float: left;
    width:50%;
    padding: 10px 0px;
    line-height: 28px;
    background-color: #fff;
}
.donghua{
    animation: fadeInDown 1.5s;
}