<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .icon {
          width: 1em;
          height: 1em;
          vertical-align: -0.15em;
          fill: currentColor;
          overflow: hidden;
        }
        h2{
                color:#f44;
        }
        </style>
</head>
<body>
        <h2>123</h2>
        <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-bingtu"></use>
        </svg>
</body>
<script src="../styles/fonts/iconfont.js">
</script>
</html>