.content-main {
    font-size: 14px;
    color: #000;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    margin-top:70px;
  }
  .content-main h5 {
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 40px 0;
  }
  .content-main h6 {
    font-size: 16px;
    margin: 40px 0;
  }
  
  .content-main p {
    padding: 0;
    margin: 0;
    line-height: 24px;
  }
  
  
  .content-main .content_grade_1 {
    font-size: 14px;
    margin-top: 40px;
  }
  
  .content-main .content_grade_1 .content_order,
  .content-main .content_grade_2 .content_order {
    display: inline-block;
    width: 30px;
  }
  .content-main .font_b {
    font-weight: bold;
  }
  
  .content-main .content_grade_2 {
    font-size: 14px;
    margin-top: 28px;
  }
  
  .content-main .content_grade_3 {
    font-size: 14px;
  }
  
  .content-main .content_grade_3 .content_order {
    display: inline-block;
    padding-left: 30px;
    width: 46px;
  }
  
  .content-main .content_grade_4{
    padding-left: 72px;
  }