.zhuzhuangtu-add{
    width: 400%;
    
}
.zhuzhuangtu-box{
    width: 100%;
    overflow:hidden;

}
.demo-preview-item .am-slider-wrapper {
    margin-bottom: 15px;
  }
  .demo-preview-item .am-slider-example {
    overflow: hidden;
  }
  .am-wingblank.am-wingblank-lg {
    margin-bottom: 30px;
  }
  .demo-preview-item .am-slider-wrapper:last-child {
    margin-bottom: 10px;
  }
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 0 0 18px 0;
    margin: 0;
  }