.car-OneP{
//    background-color: #fff;
//    border-radius: 20px;
overflow: hidden;
}

.car-OneCheck{
    width: 20px;
    height: 20px;
}

.car-OnePleft{
    float:left;
}
.car-OnePright{
    float:right;
}
