.span{
    padding-left:20px;
    font-size: 14px;
    color:rgb(233, 103, 16);
}
.shadow{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.shadowHide{
    display: none;
}
.Activity{
    width: 100%;
    height: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:#fff ;
    z-index: 100;
    animation: fadeInUp 1s;
}
.kk{
    display: none;
}
$none:"";
@function none(){
     
}
.ActivityHide{
    width: 100%;
    height: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:#fff ;
    z-index: 100;
    animation: fadeOutDown 1.5s;
    display: none;
}